
/* .logo img{
    position: absolute;
    width: 100vw;
    background-image: url(../../components/background/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  } */


.main{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;


}


.boxButton{
    margin: 0 auto;
    text-align: center;
}

.wpp{
    width: 200px;
    height: 400px;
    background-color: #BDBF09;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;


}

.dely{
    width: 200px;
    height: 400px;
    background-color: #F87060;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

}

.all{
    width: 200px;
    height: 400px;
    background-color: #087E8B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

}

